In [2]:
from pathlib import Path

import json
import pandas as pd
import numpy as np

In [3]:
ROOT = Path("/home/connor/algonauts2025.clean")
print(ROOT)

SUBJECTS = (1, 2, 3, 5)

/home/connor/algonauts2025.clean

In [4]:
ablation_dir = ROOT / "output/feature_encoding_ablations_2507221407"

multi-subject ablation

In [5]:
single_sub_result = {}

for sub in SUBJECTS:
    acc_path = ablation_dir / f"multi_sub/subs-{sub}/acc.json"
    with acc_path.open() as f:
        acc_result = json.load(f)
    for k, v in acc_result.items():
        single_sub_result[k] = single_sub_result.get(k, 0) + v / len(SUBJECTS)

acc_path = ablation_dir / "multi_sub/subs-1_2_3_5/acc.json"
with acc_path.open() as f:
    multi_sub_result = json.load(f)

multi_sub_df = pd.DataFrame.from_dict(
    {"single sub": single_sub_result, "multi sub": multi_sub_result}, orient="index"
)
multi_sub_df

              val_s6  val_figures  val_life   run_time
single sub  0.293525     0.242638  0.178957  63.984108
multi sub   0.303768     0.251741  0.192258  91.635446

In [6]:
print(
    multi_sub_df.iloc[:, [0, 1, 2]]
    .style.format(precision=3)
    .relabel_index(["s6", "figures", "life"], axis=1)
    .to_latex()
)

\begin{tabular}{lrrr}
 & s6 & figures & life \\
single sub & 0.294 & 0.243 & 0.179 \\
multi sub & 0.304 & 0.252 & 0.192 \\
\end{tabular}

kernel size

In [7]:
kernel_size_results = {}

kernel_sizes = [0, 9, 17, 45, 65]
for ks in kernel_sizes:
    acc_path = ablation_dir / f"kernel_size/kernel-{ks}/acc.json"
    with acc_path.open() as f:
        kernel_size_results[ks] = json.load(f)

kernel_size_df = pd.DataFrame.from_dict(kernel_size_results, orient="index")
kernel_size_df

      val_s6  val_figures  val_life    run_time
0   0.200012     0.145939  0.098279  239.530611
9   0.282313     0.230487  0.176623  253.135990
17  0.290572     0.240348  0.182831  138.529695
45  0.303768     0.251741  0.192258  131.248226
65  0.303421     0.250948  0.191830  107.780160

In [8]:
print(
    kernel_size_df.iloc[:, [0, 1, 2]]
    .style.format(precision=3)
    .relabel_index(["s6", "figures", "life"], axis=1)
    .to_latex()
)

\begin{tabular}{lrrr}
 & s6 & figures & life \\
0 & 0.200 & 0.146 & 0.098 \\
9 & 0.282 & 0.230 & 0.177 \\
17 & 0.291 & 0.240 & 0.183 \\
45 & 0.304 & 0.252 & 0.192 \\
65 & 0.303 & 0.251 & 0.192 \\
\end{tabular}

embed dim

In [9]:
embed_dim_results = {}

embed_dims = [32, 64, 128, 192, 256]
for dim in embed_dims:
    acc_path = ablation_dir / f"embed_dim/dim-{dim}/acc.json"
    with acc_path.open() as f:
        embed_dim_results[dim] = json.load(f)

embed_dim_df = pd.DataFrame.from_dict(embed_dim_results, orient="index")
embed_dim_df

       val_s6  val_figures  val_life    run_time
32   0.298161     0.249370  0.190261  205.722586
64   0.298003     0.251806  0.190752  158.749872
128  0.302641     0.252546  0.193912  116.059856
192  0.303768     0.251741  0.192258  124.537687
256  0.300245     0.251673  0.195256  113.632390

In [10]:
print(
    embed_dim_df.iloc[:, [0, 1, 2]]
    .style.format(precision=3)
    .relabel_index(["s6", "figures", "life"], axis=1)
    .to_latex()
)

\begin{tabular}{lrrr}
 & s6 & figures & life \\
32 & 0.298 & 0.249 & 0.190 \\
64 & 0.298 & 0.252 & 0.191 \\
128 & 0.303 & 0.253 & 0.194 \\
192 & 0.304 & 0.252 & 0.192 \\
256 & 0.300 & 0.252 & 0.195 \\
\end{tabular}

kernel type

In [12]:
kernel_type_results = {}

names = ["causal", "positive", "blockwise", "default"]
labels = ["causal", "positive", "tied", "default"]

for label, name in zip(labels, names):
    acc_path = ablation_dir / f"kernel_type/{name}/acc.json"
    with acc_path.open() as f:
        kernel_type_results[label] = json.load(f)

kernel_type_df = pd.DataFrame.from_dict(kernel_type_results, orient="index")
kernel_type_df

            val_s6  val_figures  val_life    run_time
causal    0.300760     0.244196  0.191558  126.376039
positive  0.298665     0.246347  0.186587  130.439044
tied      0.301713     0.250809  0.194092   77.510025
default   0.303768     0.251741  0.192258  104.038880

In [13]:
print(
    kernel_type_df.iloc[:, [0, 1, 2]]
    .style.format(precision=3)
    .relabel_index(["s6", "figures", "life"], axis=1)
    .to_latex()
)

\begin{tabular}{lrrr}
 & s6 & figures & life \\
causal & 0.301 & 0.244 & 0.192 \\
positive & 0.299 & 0.246 & 0.187 \\
tied & 0.302 & 0.251 & 0.194 \\
default & 0.304 & 0.252 & 0.192 \\
\end{tabular}

prediction head

In [10]:
pred_head_results = {}

labels = ["group only", "sub only", "sub $+$ group"]
with_group = [True, False, True]
with_subject = [False, True, True]

for label, wg, ws in zip(labels, with_group, with_subject):
    acc_path = (
        ablation_dir
        / f"arch/shared-{str(wg).lower()}_subject-{str(ws).lower()}/acc.json"
    )
    with acc_path.open() as f:
        pred_head_results[label] = json.load(f)

pred_head_df = pd.DataFrame.from_dict(pred_head_results, orient="index")
pred_head_df

                 val_s6  val_figures  val_life    run_time
group only     0.272688     0.231839  0.182667  139.185950
sub only       0.302208     0.253389  0.194124  132.187665
sub $+$ group  0.303768     0.251741  0.192258  158.970350

In [11]:
print(
    pred_head_df.iloc[:, [0, 1, 2]]
    .style.format(precision=3)
    .relabel_index(["s6", "figures", "life"], axis=1)
    .to_latex()
)

\begin{tabular}{lrrr}
 & s6 & figures & life \\
group only & 0.273 & 0.232 & 0.183 \\
sub only & 0.302 & 0.253 & 0.194 \\
sub $+$ group & 0.304 & 0.252 & 0.192 \\
\end{tabular}

features

In [12]:
features = [
    "internvl",
    "qwen",
    "vjepa",
    "whisper",
    "llama",
]

feature_grid = pd.DataFrame(
    [
        [1, 0, 0, 0, 0],
        [0, 1, 0, 0, 0],
        [0, 0, 1, 0, 0],
        [0, 0, 0, 1, 0],
        [0, 0, 0, 0, 1],
        [0, 1, 1, 1, 1],
        [1, 0, 1, 1, 1],
        [1, 1, 0, 1, 1],
        [1, 1, 1, 0, 1],
        [1, 1, 1, 1, 0],
        [1, 1, 1, 1, 1],
    ],
    columns=features,
    dtype=int,
)

feature_df = feature_grid.copy()
feature_df.loc[:, ["val_s6", "val_figures", "val_life"]] = np.nan

for ii, row in feature_df.iterrows():
    key = "llama-{llama:.0f}_whisper-{whisper:.0f}_qwen-{qwen:.0f}_internvl-{internvl:.0f}_vjepa-{vjepa:.0f}".format(
        **row
    )
    acc_path = ablation_dir / f"features/{key}/acc.json"
    with acc_path.open() as f:
        row.update(json.load(f))
        feature_df.loc[ii] = row

feature_df

    internvl  qwen  vjepa  whisper  llama    val_s6  val_figures  val_life
0          1     0      0        0      0  0.245159     0.188308  0.115874
1          0     1      0        0      0  0.276323     0.227734  0.168121
2          0     0      1        0      0  0.229125     0.177288  0.101048
3          0     0      0        1      0  0.172558     0.106238  0.090652
4          0     0      0        0      1  0.229980     0.176862  0.134346
5          0     1      1        1      1  0.299979     0.250623  0.187527
6          1     0      1        1      1  0.301344     0.249631  0.188205
7          1     1      0        1      1  0.298475     0.246704  0.193294
8          1     1      1        0      1  0.303438     0.252624  0.191682
9          1     1      1        1      0  0.290099     0.242955  0.181142
10         1     1      1        1      1  0.303768     0.251741  0.192258

In [16]:
def fmt(value):
    if value == 0:
        return "\\xmark"
    if value == 1:
        return "\\cmark"
    return f"{value:.3f}"


print(
    feature_df.style.format(fmt)
    .relabel_index(
        ["internvl", "qwen", "vjepa", "whisper", "llama", "s6", "figures", "life"],
        axis=1,
    )
    .hide(axis="index")
    .to_latex()
)

\begin{tabular}{rrrrrrrr}
internvl & qwen & vjepa & whisper & llama & s6 & figures & life \\
\cmark & \xmark & \xmark & \xmark & \xmark & 0.245 & 0.188 & 0.116 \\
\xmark & \cmark & \xmark & \xmark & \xmark & 0.276 & 0.228 & 0.168 \\
\xmark & \xmark & \cmark & \xmark & \xmark & 0.229 & 0.177 & 0.101 \\
\xmark & \xmark & \xmark & \cmark & \xmark & 0.173 & 0.106 & 0.091 \\
\xmark & \xmark & \xmark & \xmark & \cmark & 0.230 & 0.177 & 0.134 \\
\xmark & \cmark & \cmark & \cmark & \cmark & 0.300 & 0.251 & 0.188 \\
\cmark & \xmark & \cmark & \cmark & \cmark & 0.301 & 0.250 & 0.188 \\
\cmark & \cmark & \xmark & \cmark & \cmark & 0.298 & 0.247 & 0.193 \\
\cmark & \cmark & \cmark & \xmark & \cmark & 0.303 & 0.253 & 0.192 \\
\cmark & \cmark & \cmark & \cmark & \xmark & 0.290 & 0.243 & 0.181 \\
\cmark & \cmark & \cmark & \cmark & \cmark & 0.304 & 0.252 & 0.192 \\
\end{tabular}